*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inknut Antiqua', serif;
}

body {
  background-color: brown;
}

.login-wrapper {
  background: url("../src/assets/login-background.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
  padding: 2em;
  font-size: 0.8em;
  position: relative;
}

.register-wrapper {
  background: url("../src/assets/register.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
  padding: 2em;
  font-size: 0.8em;
  position: relative;
}

.login-title {
  text-align: center;
  text-shadow: 0px 2px 5px black;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  margin-top: 4rem;
}

.login-container > label {
  text-shadow: 0px 2px 5px black;
}

.login-container > input {
  padding: 0 0.3em;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px black;
}

.login-button {
  padding: 0.5em 2em;
  background-color: #545F71;
  color: white;
  border-radius: 1em;
  margin-top: 1em;
  box-shadow: 0px 2px 5px black;
}

.link { 
  position: absolute;
  left: 0em;
  right: 0em;
  margin: 0 auto;
  bottom: 2em;
  text-align: center;
}

.home-wrapper {
  background: url("../src/assets/homepage.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  position: relative;
  padding: 0.5em 0 2em 0;
}

.home-wrapper-booked {
  background: url("../src/assets/homepage-booked.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  position: relative;
  padding: 0.5em 0 2em 0;
}

.card {
  background-color: #545f71a6;
  margin: 1em;
  padding: 0.4em;
  border-radius: 10px;
  position: relative;
  font-size: 0.8em;
  text-shadow: 0 2px 10px black;
}

.book-workout {
  background-color: rgb(34, 158, 34);
  color: white;
  padding: 0.1em 0.3em;
  border-radius: 10px;
}

.disabled {
  opacity: 0.5;
}

.allready-booked {
  color: rgb(250, 11, 11);
  text-shadow: 0 2px 10px white;
}

.workout-nav {
  width: 100vw;
  position: fixed;
  bottom: -0.2em;
  z-index: 10;
}

.workout-nav > button {
  width: 50%;
  border: none;
}

.error-msg {
  color: red;
  text-shadow: 0px 2px 5px black;
}

.active {
  transition: 400ms;
  background-color: rgb(34, 158, 34);
  color: white;
}

.booked-status {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  text-shadow: 0px 2px 5px black;
  box-shadow: 0 3px 8px black;
  background-color: #545f714b;
}

.admin-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 158, 34);
}



.delete-user-btn {
  padding: 0.1em 0.3em;
  border-radius: 10px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.admin-wrapper {
  background: url("../src/assets/adminPage.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  position: relative;
  padding: 0.5em 0 2em 0;
  margin: 0 auto;
}

.admin-title {
  text-align: center;
}

.new-workout-card {
  background-color: #45484d;
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
  position: fixed;
  top: 3em;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  gap: 0.3em;
  border-radius: 10px;
  border: 1px solid black;
}

.new-workout-card > input {
  border-radius: 10px;
  padding: 0 0.5em;
}

.add-workout-btn {
  background-color: rgb(34, 158, 34);
  color: white;
  border-radius: 10px;
}

.toggle-add {
 background-color: rgb(34, 158, 34);
 color: white;
 border-radius: 10px;
 padding: 0 0.5em;
 margin-left: 6.5em;
}

.x-icon {
  align-self: flex-end;
  color: black;
}

.new-workout-title {
  align-self: center;
}

.red {
  background-color: rgb(228, 53, 53);
  color: white;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-btn {
  border: none;
  background: none;
  color: white;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.header-userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-btn {
  background-color: rgb(228, 53, 53);
  color: white;
  padding: 0 1em;
  border-radius: 10px;
  margin-bottom: 0.3em;
}

.left-arrow {
  font-size: 1.8em;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, max-content));
    grid-gap: 1rem;
    justify-content: center;
    padding: initial;
    align-items: start;
  }
  .new-workout-card {
    max-width: 600px;
  }

  button:hover {
    transition: 400ms;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 5px 10px black;
  }

  button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.6;
  }
  
  .title-container {
    justify-content: space-between;
    padding: 0 3em;
    font-size: 2em;
  }

  .card {
    font-size: 1em;
  }

  .workout-nav {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    z-index: 0;
  }

  .left-arrow {
    cursor: pointer;
  }

  .x-icon {
    cursor: pointer;
  }

}


@media screen and (min-width: 1700px) {
  
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(23%, max-content));
  }

  
}